/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/components/Card.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.card {
    display: flex; 
    flex-direction: column;
    background-color: #fff;
    width: 40%; 
    height: 150px;
    top: 0px;
    transition: box-shadow, top 0.4s;
}

.cardContainer {
    padding-top: 2rem;
}

.card:hover {
    box-shadow: 1px 1px 10px #254dff;
    top: -10px;
    /* transition: appear 0.5s; */
    /* animation: up 0.5s; */
}

.imageCard {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.cont {
    display: flex;
    justify-content: end;
}

.pad {
    padding-top: 2rem;
}

.titleCard {
    color: #000; 
    font-size: 1.2rem;
    margin-left: 10px;
}

/* .cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
} */


@media only screen and (max-width: 992px) {
    .card {
        width: 60%; 
    }

    .cardContainer {
        display: flex;
        justify-content: center;
    }
    
}

@keyframes appear { 
        
    100% { 
        opacity: 100%;
        box-shadow: 1px 1px 10px #254dff;
    }

}

@keyframes up {

    0% {
        top: 0px;
    }

    100% {
        top: -20px;
    }
}
