.language-dropdown {
  position: relative;
}

.language-selector-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.language-selector-icon:focus {
  outline: none;
  box-shadow: none;
}

.language-options {
  display: none;
  position: absolute;
  /* top: 60px; Adjust this according to your layout */
  right: 0;
  background-color: var(--bg-primary);
  padding: 5px;
  box-shadow: 0 0 5px var(--shadow-color);
  z-index: 1000;
}

.language-dropdown.open .language-options {
  display: block;
}

.language-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  padding: 5px;
  transition: background-color 0.3s ease;
}

.language-link:hover {
  background-color: var(--shadow-color);
}

.flag-icon {
  margin-right: 5px;
  background: transparent;
  border: none;
}

.language-icon {
  filter: brightness(0) invert(1);
}

[data-theme="light"] .language-icon {
  filter: none;
}
