.language-dropdown {
  position: relative;
}

.language-selector-icon {
  cursor: pointer;
}

.language-options {
  display: none;
  position: absolute;
  /* top: 60px; Adjust this according to your layout */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.language-dropdown.open .language-options {
  display: block;
}

.language-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.language-link:hover {
  background-color: #f0f0f0;
}

.flag-icon {
  margin-right: 5px;
}
