@keyframes gradientAnimation {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.App {
    background-color: #fff;
}

.mainTitle { 
    font-size: 3.5rem;
    color: #000; 
}

/* .subTitle {
    background: linear-gradient(-120deg, #ffde57, #4584b6, #646464);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s linear infinite;
} */

/* .subTitle {
    position: relative;
    font-size: 24px; 
} */

.subTitle {
    background: linear-gradient(90deg, #ffde57, #4584b6, #646464, #ffde57, #4584b6);
	background-size: 400%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: gradientAnimation 4s linear infinite;
    font-size: 1.8rem;
}

.main-section { 
    width: 100%;
    height: 100vh;
}

.text { 
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.showMore {
    margin-top: 15px;
}

.iconsContactContainer {
    display: flex;
    justify-content: space-around;
    width: 5%;
}

.iconoContacto {
    color: #2e54ff;
    font-size: 1.5rem; 
}

.portrait {
    border-radius: 50%;
    border: 2px solid #000; 
}

.section-2 { 
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0);
    height: 25rem;
}

#head-sec-2 { 
    margin-top: 0.5rem;
}

.cont-2 { 
    text-align: center;
}

.circle-ph { 
    
    border-radius: 50%;
    width: 300px;
    height: 300px;
    /* background: lightblue; */
    border: 3px solid #000;
    /* margin: auto; */
}


 
#particles-js {
    z-index: -1;
    height: 100vh;
    width: 100%;
} 

@keyframes animate {
    0%{
        background-position: 0%;
    } 
    100%{
        background-position: 400%;
    }
}

@media only screen and (max-width: 435px) {
    .mainTitle {
        font-size: 2.5rem;
    }

    .subTitle {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1208px) {
    .iconsContactContainer {
        width: 10%;
    }
}


@media only screen and (max-width: 500px) {
    .iconsContactContainer {
        width: 15%;
    }
}






